<!DOCTYPE html>
<html class="nl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />

    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="..." />
    <meta name="robots" content="index, follow" />

    <title>The A Team</title>

    <meta property="og:site_name" content="The A Team ">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://d2fkau6y35eefk.cloudfront.net/img/mobilevikings-og.jpg">
    <meta property="og:title" content="The A Team for Music for Life 2013">
</head>
<body>
    <h1>Hello Heroku</h1>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
